* {
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.55)), url("../img/1.jpeg");
    background-size: cover;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 60px;
    text-align: center;
    align-items: center;
}

.container .logo {
    margin: 0;
    padding: 0;
}

.container .logo img {
    height: 50px;
    width: 100px;
}

.container .navigation {
    width: 100%;
}

.container .navigation .items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.container .navigation .items li {
    list-style: none;
    padding: 0 3px;
}

.container .navigation .items li a {
    text-decoration: none;
    padding: 5px 20px;
    background: none;
    color: white;
    border: 1px solid transparent;
    transition: 0.6s ease all;
}

.container .navigation .items li a:hover {
    background: #fff;
    color: #000;
}

.container .navigation .items li a.checked {
    background: #fff;
    color: #000;
}

.container .heading {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.container .heading h2 {
    font-size: 70px;
    color: #fff;
}

.container .btn {
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.container .btn a {
    color: white;
    border: 1px solid white;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.6s ease all;
}

.container .btn a:hover {
    background: #fff;
    color: #000;
}

.social-icon {
    top: 80%;
    left: 92%;
    transform: translate (-50%, -50%);
    position: absolute;
}

.social-icon li {
    list-style: none;
    width: 10%;
}

.social-icon li img {
    width: 30px;
    margin-top: 10px;
}

.social-icon li img:hover {
    cursor: pointer;
}

@media screen and (max-width:700px) {
    .container {
        display: flex;
        flex-direction: row;
        margin: 20px;
        text-align: center;
        align-items: center;
    }
    .container .logo {
        margin: 0;
        padding: 0;
    }
    .container .logo img {
        display: none;
    }
    .container .navigation {
        width: 100%;
    }
    .container .navigation .items {
        display: flex;
        flex-direction: row;
    }
    .container .navigation .items li {
        list-style: none;
        padding: 0 3px;
    }
    .container .navigation .items li a {
        text-decoration: none;
        padding: 8px 3px;
        background: none;
        color: white;
        border: 1px solid transparent;
        transition: 0.6s ease all;
    }
    .container .navigation .items li a:hover {
        background: #fff;
        color: #000;
    }
    .container .navigation .items li a.checked {
        background: #fff;
        color: #000;
    }
    .container .heading {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }
    .container .heading h2 {
        font-size: 50px;
        color: #fff;
    }
    .container .btn {
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }
    .container .btn a {
        color: white;
        border: 1px solid white;
        padding: 10px;
        text-decoration: none;
        font-size: 14px;
        transition: 0.6s ease all;
    }
    .container .btn a:hover {
        background: #fff;
        color: #000;
    }
    .social-icon {
        top: 75%;
        left: 85%;
        transform: translate (-50%, -50%);
        position: absolute;
    }
    .social-icon li {
        list-style: none;
        width: 10%;
    }
    .social-icon li img {
        margin-top: 10px;
        width: 30px;
    }
    .social-icon li img:hover {
        cursor: pointer;
    }
}